* {
  box-sizing: border-box;
}

.main-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}